<% layout("./layouts/boilerplate") %>

    <!-- <h1>listing pg</h1> -->
    <!-- <form method="get" action="http://localhost:8080/listing/new">
        <button>Create new Listing</button>
    </form> -->
<style>
    .taxinfo{
        display: none;
    }
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter{
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
        transition: ease 0.2s;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
        color: #fe424d;

    }
    .filter p {
        font-size: 0.9rem;
    }
   
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3rem;
        padding: 1rem 3rem;
        margin-top: 1rem;
        margin-left: 3rem;
        display: flex;
        align-items: center;
    }

</style>


    <div id="filters"> 
            <div class="filter">
                <div>
                    <i class="fa-solid fa-fire"></i>
                </div>
                <p> Trending</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-bed"></i>
                </div>
                <p> Rooms</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-mountain-sun"></i>               
                 </div>
                <p> Mountains</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-water"></i>                 </div>
                <p> Lake-view</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-gopuram"></i>
                 </div>
                <p> Temple</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-person-hiking"></i>               
                 </div>
                <p> Hiking</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-umbrella-beach"></i>  
                </div>            
                  <p>Beach</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-person-swimming"></i>
                </div>            
                  <p>Pool</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-regular fa-snowflake"></i>
                </div>            
                  <p>Snow</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-dog"></i>
                </div>            
                  <p>Pet friendly</p>    
            </div>
            <div class="filter">
                <div>
                    <i class="fa-solid fa-smoking"></i>
                </div>            
                  <p>Smoke friendly</p>    
            </div>

            <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after Taxes</label>
              </div>
            </div>

    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">

        <% for(list of lists) {%>
            <div class="card col"  >
                <img src=<%= list.image.url %> class="card-img-top" alt="..." style="height:20rem ;">
                <div class="card-body">
                    <br>
                  <h5 class="card-title"><b><%= list.title %></b></h5>
                  <p class="card-text"><b>price :</b> &#8377 <%= list.price.toLocaleString("en-IN") %>/night<i class="taxinfo">&nbsp;&nbsp; +18% GST</i>
                  </p>
                  <a href="/listing/<%=list._id%>" class="btn btn-primary">More details</a>
                </div>
              </div>
                    <% } %>
           

    </div>
    

<script>
    let taxswitch = document.getElementById("flexSwitchCheckDefault");
    taxswitch.addEventListener("click", ()=>{
        let taxinfo= document.getElementsByClassName("taxinfo");
        for(info of taxinfo){
            if(info.style.display != "inline"){
            info.style.display = "inline";
        }
        else{
            info.style.display= "none";
        }
    }
    })
</script>